@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;900&display=swap');

.fade-A {
    animation: animA 10s infinite alternate;
}

.fade-B {
    animation: animB 10s infinite alternate;
}

.titleHome {
    font-family: 'Poppins', sans-serif;
}

@keyframes animA {
    0%,
    40% {
        opacity: 1;
    }
    60%,
    100% {
        opacity: 0;
    }
}

@keyframes animB {
    0%,
    40% {
        opacity: 0;
    }
    60%,
    100% {
        opacity: 1;
    }
}

/* Additionnal style for back to top button */

html {
    scroll-behavior: smooth;
}

.back-to-top-wrapper {
    top: 100vh;
}

.back-to-top-link {
    pointer-events: all;
    top: calc(100vh - 5rem);
}

/* Background varriations */

.bgd-10 {
    background-image: url('public/images/background/background-pattern-black-10.png');
    background-repeat: repeat;
}

.bgd-20 {
    background-image: url('public/images/background/background-pattern-black-20.png');
    background-repeat: repeat;
}

.bgd-30 {
    background-image: url('public/images/background/background-pattern-black-30.png');
    background-repeat: repeat;
}

.bgd-40 {
    background-image: url('public/images/background/background-pattern-black-40.png');
    background-repeat: repeat;
}

.bgd-50 {
    background-image: url('public/images/background/background-pattern-black-50.png');
    background-repeat: repeat;
}

.bgd-60 {
    background-image: url('public/images/background/background-pattern-black-60.png');
    background-repeat: repeat;
}

.bgd-70 {
    background-image: url('public/images/background/background-pattern-black-70.png');
    background-repeat: repeat;
}

.bgd-80 {
    background-image: url('public/images/background/background-pattern-black-80.png');
    background-repeat: repeat;
}

.bgd-90 {
    background-image: url('public/images/background/background-pattern-black-90.png');
    background-repeat: repeat;
}

.bgd-100 {
    background-image: url('public/images/background/background-pattern-black-100.png');
    background-repeat: repeat;
}

.bgw-10 {
    background-image: url('public/images/background/background-pattern-white-10.png');
    background-repeat: repeat;
}

.bgw-20 {
    background-image: url('public/images/background/background-pattern-white-20.png');
    background-repeat: repeat;
}

.bgw-30 {
    background-image: url('public/images/background/background-pattern-white-30.png');
    background-repeat: repeat;
}

.bgw-40 {
    background-image: url('public/images/background/background-pattern-white-40.png');
    background-repeat: repeat;
}

.bgw-50 {
    background-image: url('public/images/background/background-pattern-white-50.png');
    background-repeat: repeat;
}

.bgw-60 {
    background-image: url('public/images/background/background-pattern-white-60.png');
    background-repeat: repeat;
}

.bgw-70 {
    background-image: url('public/images/background/background-pattern-white-70.png');
    background-repeat: repeat;
}

.bgw-80 {
    background-image: url('public/images/background/background-pattern-white-80.png');
    background-repeat: repeat;
}

.bgw-90 {
    background-image: url('public/images/background/background-pattern-white-90.png');
    background-repeat: repeat;
}

.bgw-100 {
    background-image: url('public/images/background/background-pattern-white-100.png');
    background-repeat: repeat;
}

/* Megamenu additional style */
.mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
}

.hoverable {
    position: static;
}

.hoverable > a:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.hoverable:hover .mega-menu {
    display: block;
}

.toggleable > label:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.toggle-input {
    display: none;
}

.toggle-input:not(checked) ~ .mega-menu {
    display: none;
}

.toggle-input:checked ~ .mega-menu {
    display: block;
}

.toggle-input:checked + label {
    color: white;
    background: rgb(3, 102, 114);
}

.toggle-input:checked ~ label:after {
    content: "\25B2";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
}

.react-datepicker__time-list-item--disabled {
    display: none;
}

.react-datepicker {
    width: max-content;
}