@font-face {
    font-family: 'Ubuntu';
    src: url('Ink\ Free.eot');
    src: local('Ink Free'), local('Ink Free'), url('Ink\ Free.eot?#iefix') format('embedded-opentype'), url('Ink\ Free.woff2') format('woff2'), url('Ink\ Free.woff') format('woff'), url('Ink\ Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}